<div class="container" style="background: #eee; margin-top: 10px;">
    <h1>Example of Model Method Overrides: fetch(), parse(), &amp; sync()</h1>

    <p>
        Backbone.js does a great job of using 'expected' RESTful calls for interacting with a back-end API to synchronize models.<br>
    </p>

    <p>
        However, sometimes you need to do special things, such as including special headers on your request or parsing the response that 
        comes back before storing it to your Backbone.js model. These things can be achieved by overriding methods in your Model.
    </p>

    <h2>Normal API Call</h2>
    <p>
        <strong>Here are some values retrieved via a normal call to fetch() for the model:</strong>
        <ul>
            <li><strong>Address:</strong> <%= address %></li>
            <li><strong>City:</strong> <%= city %></li>
            <li><strong>State:</strong> <%= state %></li>
            <li><strong>Zip Code:</strong> <%= zipCode %></li>
        </ul>
    </p>

    <h2>API Call with Model Method Overrides</h2>
    <p>
        <strong>Here are some values retrieved after overriding sync() to pass along special headers in the request, 
        and after overriding parse() to grab a subset of the JSON returned from the API:</strong>
        <ul>
            <li><strong>Address:</strong> <%= override.address %></li>
            <li><strong>City:</strong> <%= override.city %></li>
            <li><strong>State:</strong> <%= override.state %></li>
            <li><strong>Zip Code:</strong> <%= override.zipCode %></li>
        </ul>
    </p>

    <h2>API Call Overriding HTTP method called for Update</h2>
    <p>
        <strong>Per RESTful standards, an update would normally issue an HTTP PUT request to the API. But what if the API you're using is not fully RESTful, or they've
        decided to use HTTP POST methods for adding, updating, and deleting?</strong>
    </p>

    <p>
        This situation can be addressed by overriding the model's sync() method to manually specify what type of HTTP call to make.
    </p>

    <p>
        <strong>What if the API you're calling has a special URL for doing updates that is not typical? For example, instead of doing a PUT to /person/5, perhaps it is /person/5/updatePerson.</strong>
    </p>

    <p>
        This can also be handled in the model's sync() method by specifying the URL as needed.
    </p>

    <p>
        <strong>Take a look at the code in SampleOverrideModel.js for details!</strong>
    </p>
</div>