<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Backbone.js Sample App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#model-overrides">Model Method Overrides</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://backbonejs.org" target="_blank">Backbone.js</a></li>
                    <li><a href="http://requirejs.org" target="_blank">Require.js</a></li>
                    <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
                    <li><a href="https://bower.io/" target="_blank">Bower Web Package Manager</a></li>
                    <li><a href="https://github.com/typicode/json-server" target="_blank">JSON Server</a></li>
                    <li><a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
                    <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                </ul>
            </li><!-- /.dropdown -->
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>