<div class="container">
    <h1>Template</h1>

    <p class="lead">
        Click anywhere in this container to trigger a click() event bound by the view.
    </p>
    <p>
        <strong>Here are some values from the model:</strong>
        <ul>
            <li><strong>Value 1:</strong> <span data-bind="text:value1"></span></li>
            <li><strong>Value 2:</strong> <span data-bind="text:value2"></span></li>
            <li><strong>Value 3:</strong> <span data-bind="text:value3"></span></li>
        </ul>
    </p>
</div>