<tr style="cursor: pointer;">
    <th><%= id %></th>
    <td><%= firstName %></td>
    <td><%= lastName %></td>
    <td><%= favoriteAnimal %></td>
    <td><button type="button" class="btn btn-danger btn-sm btnPersonDelete">Delete</button></td>
</tr>