<h2>People</h2>

<div id="noPeopleAlert" class="collapse">
    <div id="addPersonSuccessAlert" class="alert alert-info" role="alert">No people were found.</div>
</div>
<div id="peopleTable" class="collapse">
    Click on a person below to edit them in the form above.

    <table class="table table-striped table-bordered table-hover" style="width: auto;">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Favorite Animal</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="personTableRows"></tbody>
    </table>
</div>
