<% if (firstName !== "" && lastName !== "") { %>
    <p class="lead">
        My first name is <strong><span id="firstName"></span></strong> and my last name is <strong><span id="lastName"></span></strong>.
    </p>

    <% if (favoriteAnimal != "") { %>
        <p>
            I like animals, and I would like a pet <strong><span id="favoriteAnimal"></span></strong>.
        </p>
    <% } %>

    <% if (this.hasFullName() === true) { %>
        <h2><%= fullName %></h2>
    <% } %>
<% } else { %>
    <p class="lead">
        Add a New Person
    </p>

    <div id="addPersonSuccessAlert" class="alert alert-success collapse" role="alert">A person has been successfully added.</div>
<% } %>

<form style="width: auto;">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="txtFirstName">First name</label>
                <input type="text" class="form-control" id="txtFirstName" placeholder="First name">
            </div>
            <div class="form-group">
                <label for="txtLastName">Last name</label>
                <input type="text" class="form-control" id="txtLastName" placeholder="Last name">
            </div>
            <div class="form-group">
                <label for="txtFavoriteAnimal">Favorite animal</label>
                <input type="text" class="form-control" id="txtFavoriteAnimal" placeholder="Favorite animal">
            </div>
            <div id="addButton">
                <button type="button" id="btnAdd" class="btn btn-secondary">Add Person</button>
            </div>
            <div id="editButtons">
                <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" id="btnAddNew" class="btn btn-link">Add a new person</button>
            </div>
        </div>
    </div>
</form>