<style type="text/css">
.row .col-md-9, .row .col-md-3 {
    border: 1px solid;
}
</style>

<div class="container" style="border: 1px solid #ccc; margin-top: 10px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Hello World!</h1>

            <div id="personForm"></div>
            <div id="personTable"></div>
        </div>
    </div>
</div>

